/* position absolute pour faire remonter le footer */
.about-me_main_class{
    grid-area: 1 / 1 / 3 / 13;
}


/*  Mise en forme: flebox et image. */
.about-me{
    background-image: url('/ressources/images/david-schultz-SrewPUfo2c0-unsplash.jpg');
    background-size:cover;
    display:flex;
    align-items: center;
    height: 130vh;
}
/*

*/
/*  Premiere div : positionnement et la mise en forme */
.about-me .about-me-content_first{
    flex:1;
    text-align: left;
    margin-left: 40px;
    animation : slideFromLeft 1s linear;
}

@keyframes slideFromLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX((100%));
    }
    
}


.about-me .about-me-content_first h1{
    font-size: 3rem;
}
.about-me .about-me-content_first p{
    color: rgba(221, 221, 36, 0.699);
    font-size: 22px;
    line-height: 3;
    letter-spacing: 10px;

}
/*  Deuxieme div : positionnement et la mise en forme*/
.about-me div:last-child{
    flex:1;
    text-align: left;
    margin-right:30px;
    animation : slideFromRight 1s linear;
}

@keyframes slideFromRight {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX((-100%));
    }
    
}
.about-me div:last-child p{
    font-size: 25px;
    line-height: 70px;
    letter-spacing: 2px;
}




/* longueur max 900px en mobile*/
@media screen and (max-width: 900px){
    .about-me{
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me-content_first{
        display:flex;
        flex-direction: column;
        justify-content: end;
    }

    .about-me-content_second{
        display:flex;
        flex-direction: column;
        justify-content:start;
    }

    .about-me div:first-child{
        text-align: center;
        margin-left: 0;
    }
    .about-me div:first-child h1{
        font-size: 28px;
        padding: 0 40px;
    }
    .about-me div:first-child p{
        font-size: 8px;
        line-height: 5;
        letter-spacing: 3px;
        
    }

    .about-me-content_second{
        text-align: center;
        padding: 50px 0;
        margin : 0 20px;
    }
    .about-me div:last-child p{
        
        font-size: 10px;
        line-height: 30px;
        letter-spacing: 1px;
        padding: 0 40px;
    }
}

