/* position absolute pour faire remonter le footer */
.about-me_main_class{
    grid-area: 1 / 1 / 5 / 13;
}

.grid{
    background-image: url('../ressources/images/space.jpg');
    background-size: auto;
    animation: move-bg 40s linear infinite;
}
/*  Mise en forme: flexbox et image. */
.about-me{
    display:flex;
    flex-direction: column;
    align-items: center;
}

@keyframes move-bg {
    0%{
        background-position: center 0;
    }
    100%{
        background-position: center -500px;
    }
}
.about-me-title{
    display: flex;
    align-items: center;
    padding: 300px 0;

}

/* Contenu des deux div */
.about-me-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 0;
    
}
/*  Premiere div : positionnement et la mise en forme */
.about-me-content_first{
    flex:1;
    text-align: left;
    margin-left: 40px;
    opacity: 0;
}
@keyframes slideFromLeft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX((100%));
        opacity: 1;
    }
}
.about-me-content_first h2{
    letter-spacing: 5px;
    color: #ffffff;
}
.about-me-content_first p{
    color: #fdd700;
    font-size: 22px;
    line-height: 3;
    letter-spacing: 10px;
}
/*  Deuxieme div : positionnement et la mise en forme*/
.about-me-content_second{
    flex:1;
    text-align: left;
    margin-right:30px;
    opacity: 0;
}

@keyframes slideFromRight {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX((-100%));
    }
    
}
.about-me-content_second p{
    font-size: 25px;
    line-height: 70px;
    letter-spacing: 2px;
}

/* class après l'observe active*/
.visible{
    opacity: 1;
}
.animateFromLeft{
    animation : slideFromLeft 1s linear;
}
.animateFromRight{
    animation : slideFromRight 1s linear;
}


/* **************** Mobile à 900px ******************* */
/* longueur max 900px en mobile*/
@media screen and (max-width: 900px){
    .about-me
    {
        flex-direction: column;
        padding: 10px 0;
        justify-content: space-around;
    }
    .about-me-title{
        padding-top: 200px;
        height: 0;
    }

    .about-me-title h1{
        font-size: 30px;
    }
    /* centrer le premier contenu*/
    .about-me-content_first{
        margin-left: 0;
    }
    .about-me-content_first h2{
        font-size: 15px;
        text-align: center;
    }
    .about-me-content_first p{
        font-size: 10px;
        text-align: center;
    }
    /* centrer le deuxieme contenu*/
    .about-me-content_second{
        margin-right: 0;
        padding: 100px 0;
    }
    /* description de moi */
    .about-me-content_second p {
        font-size: 12px;
        line-height: 1;
        text-align: center;
        line-height: 40px;
        margin-left: 20px;
        margin-top: 20px; 
    }
    /* On repasse le container en colonne */
    .about-me-content{
        flex-direction: column;
    }
}

