.contact_main_class{
    grid-area: 1 / 1 / 3 / 13;    
}

.grid{
    background: url('../ressources/images/space.jpg') repeat-y;
    background-size: auto;
     animation: move-bg 40s linear infinite;
}
@keyframes move-bg {
    0%{
        background-position: center 0;
    }
    100%{
        background-position: center -500px;
    }
}

.form_class{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;  
}

.form_class div:nth-of-type(1) p:nth-of-type(1){
    margin-top: 400px;
}

.form_class div:nth-of-type(2) p:nth-of-type(1){
    margin-top: 200px;
}

.form_class div:nth-of-type(3) p:nth-of-type(1){
    margin: 200px 0;
}
