*, ::before, ::after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins";
}

/*  le defilement est doux  */
html {
    scroll-behavior: smooth;
    
}
h1{
    font-size: 50px;  
    color:#a70819;
    letter-spacing: 1px;
}

p{
    color: rgb(255, 255, 255);
}

#grid{
    display:grid;
    grid-template-columns:  repeat(12 , 1fr);
    /* grid-gap: 1rem; */
    grid-template-rows: repeat(4, 1fr);
}