footer{
    grid-area : 3 / 1 / 5 / 13 ;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 1s linear;
    border-top: 1px solid #fdd700;
    margin: 100px;
}
/* .visible
{
    opacity: 1;
} */

.share{
    text-align: center;
    line-height: 3rem;
}


.footer_link ul{
    list-style: none;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: 5em;
}

.footer_link ul li img{
    height: 60px;
    width: 60px;
}

.footer_link ul li img:hover{
    animation : bouncing 0.5s .3s;
}
@keyframes bouncing {

    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}
.copyright{
    text-align: center;
    font-weight: bolder;
    
}

.copyright p, .share p{
    letter-spacing: 1px;
    color: White;
}




@media screen and (max-width: 900px){
    footer{
        justify-content: center;
        align-items: center;
        
    }
    .share p img{
        height: 18px;

    }
    .share p{
        font-size: 18px;
        margin: 100px 0;
    }
    
    .footer_link ul li img{
        height: 40px;
        width: 40px;
    }
    

    .copyright p{
        margin: 100px 0;
        font-size: 18px;
    }
}
