.backgroundVideo_class{
    /*   grid-area: row-start / column-start / row-end / column-end
    */
    grid-area: 1 / 1 / 3 / 13;
    position: relative;
}

#myVideo{
    width: 100%;
    height: 100%;
    display:block;
    object-fit: cover;
}

.welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: welcome 4s ease
}

.welcome h1{
    font-size: 7rem;
}

@keyframes welcome {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@media screen and (max-width: 900px)
{
    .welcome h1{
        font-size: 18px;
    }
}