.main_class{
    /*   grid-area: row-start / column-start / row-end / column-end
    */
    grid-area : 1 / 1 / 3 / 13 ;
    position: relative;
}

/*  Mise en forme de la video*/
#myVideo{
    width: 100%;
    height: 100vh;
    display:block;
    object-fit: cover;
}

/*  Mise en forme du titre Bienvenue*/
.welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: welcome 4s ease;
}

.welcome h1{
    font-size: 7rem;
}

/* Animation sur le titre*/
@keyframes welcome {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

/*  Version mobile */
@media screen and (max-width: 900px)
{   

    .welcome h1{
        font-size: 22px;
        animation: welcome_mobile 4s ease;
    }
        /* Animation sur le titre*/
    @keyframes welcome_mobile {
        0%{
            opacity: 0;
            transform: scale(0);
        }
        25%{
            opacity: 0.25;
            transform: scale(1);
        }
        50%{
            opacity: 0.5;
            transform: scale(3);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
}