/* container div video*/
/* #background_video{

    width: 100% !important;
	height: auto !important; 
} */
/* 
#myVideo {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
} */

.backgroundVideo_class{
    /*   grid-area: row-start / column-start / row-end / column-end
    */
 grid-area: 1 / 1 / 3 / 13;

}

#background_video{
    height: 100%;
}
#myVideo{
    width: 100%;
    height: 100%;
    display:block;
    object-fit: cover;
}