.presentation_class{
    height:100vh;
    background-color: #1d1a20;
    display:flex;
    justify-content: center;
    align-items: center; 
    transition: left 2s ease-in-out;

}

.presentation_class p{
    color: white;
    line-height: 5;
    font-size: 18px;
}

.presentation_class div:first-child{
    flex: 1;
    margin: 20px;
    line-height: 3;
    text-align: center;
}
.presentation_class div:first-child h4{
    color: grey;
}


.presentation_class div:last-child{
    flex: 1;
    margin: 20px;
    display:flex;
    flex-direction: column;

}
