.project_main_class{
    grid-area : 1 / 1 / 3 / 13;
}

.project_info p{
    font-size: 16px;
}

.project_info{
    background-color: grey;
    height: 100vh;
    /* border: 2px solid red; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_info h1{
    animation: titleAnimate 4s linear;
}

.card-container
{
    padding: 4rem 0;
    display: grid;
    width: 80vw;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    column-gap: 2rem;
}
.card
{
    border: 1px solid #a70819;
    margin-bottom: 3rem;
    display: grid;
    grid-template-rows: 1fr auto 1.5rem;
}
.card .info
{
    padding: 1rem;
}
.card .footer
{
    background-color: #a70819;
}
.card img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .info h3{
    color:#a70819;
}
.card .info p{
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
}





/* Animation sur le titre*/
@keyframes titleAnimate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}