.project_main_class{
    grid-area : 1 / 1 / 3 / 13;
}

.project_info p{
    font-size: 16px;
}

.project_info{
    background-color: black;
    height: 100vh;
    border: 2px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

