.project_class{
    height:100vh;
    background-color: #3A353F;
    
}

.project_section_class{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.project_article_class{
    margin: 20px 30px;
    border: 2px solid rgb(168, 168, 168);
    background-color: #EAE2CF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.project_section_class h3{
    color:#D24F6B;
}