.skills{
    height: 100%;
    width: 100%;
    background-image: url('../ressources/images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skills .skill-info h1{
    margin-bottom: 50px;
}

.skills .skill-info p{
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2rem;
}

.svg_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.svg_list .svg_icon svg{
    width: 70px;
    height: 70px;   
}

.svg_list .svg_icon p{
    text-align: center;
}