.skills{
    height: 100vh;
    width: 100vw;
    background-image: url('../ressources/images/anime-night-background-8pqhuxk631bliu6p.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skills .skill-info div:last-child{
    
}