/*  Mise en forme du main */
.skill_main_class{
    grid-area: 1 / 1 / 5 / 13;
    overflow: hidden;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 200px;  
}

.skill-info{
    padding: 100px;
}
.skills .skill-info h1{
    padding: 150px 0;
    margin-bottom: 50px;
    animation: titleAnimate 4s linear;
}

/* Animation sur le titre*/
@keyframes titleAnimate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.skills .skill-info p{
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2rem;
}

.skills .skill-info p:nth-of-type(even){
    animation : slideFromLeft 2s linear;
}
.skills .skill-info p:nth-of-type(odd){
    animation : slideFromRight 2s linear;
}
/*  Animations sur la description */
@keyframes slideFromLeft {
    0%{
        transform: translateX(-100%);
        /* opacity: 0; */
    }
    100%{
        transform: translateX((100%));
        /* opacity: 1; */
    }
}
@keyframes slideFromRight {
    0%{
        transform: translateX(100%);
        /* opacity: 0; */
    }
    100%{
        transform: translateX((-100%));
        /* opacity: 1; */
    }
}

.svg_list ul .li_items:hover{
    animation : bouncing 0.5s 0.3s;
}
@keyframes bouncing {

    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

/*  Mise en forme du bloc des svg*/
.svg_list{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

/* taille des svg*/
.li_items svg{
    width: 70px;
    height: 70px;   
}

/* display grid sur la liste ul*/
.svg_list ul{
    list-style: none;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-gap: 5em;
}

.svg_list ul li{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* animaton au moment de l'observer active */
.visibleSvg
{
    opacity: 1;
    animation : slideFromLeft 1s linear;
}




/* ********* Mobile 900px *************** */
@media screen and (max-width: 900px){
    
    .skills{
        height: auto;
        padding: 100px 0;
    }

    .skill-info h1{
        font-size: 30px;
        text-align: center;
    }
    .skills .skill-info p{
        font-size: 18px;
        line-height: 3rem;
        letter-spacing:1px;
    }

    .svg_list ul{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
    /* taille des svg*/
    .li_items svg{
        width: 40px;
        height: 40px;   
    }

}