.title_class{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacityAnimate 4s linear 1;
    background: linear-gradient(110deg, #1d1a20 30%, #588B71 30%);
    min-height: 100vh;
}
/* Mise en forme du prénom */
.title_firstname{

    text-transform: uppercase;
    color: #ffffff;
}
@keyframes opacityAnimate {    
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;

    }
}

/*  Mise en forme du texte sous le prénom*/
.title_job{
    font-size: 3vw;
    margin-top: 40px;
    margin-bottom: 200px;
    text-transform: uppercase;
    color:#C89B3C;
    
}
